body{
    background-color: rgb(13, 3, 21);
    align:center;
    margin-top:135px;
    border: auto solid black ;
}

*{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;

}

.wrap{
    width:450px;
    margin:auto;
    height:auto;
    background:rgb(235, 128, 128);
    padding:15px;
    border-radius:75px;
}

input[type=text]{
    width: 95%;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 14px;
    border-radius:180px;
    
}

input[type=button]{
    width:23%;
    padding:15px;
    font-size:15px;
    font-weight:bold;
    color:rgb(243, 237, 237);
    border-radius:250px; 
    background-color: rgb(1, 12, 7);
    cursor: pointer;
}

#col{
    background-color: rgb(79, 17, 82);
} 

#bracket{
    background-color: rgb(14, 60, 45);
}
#del{
    background-color:  rgb(14, 46, 57);
}